.ul_car{
    width: 300px;
    margin: 0;
    padding: 10px;
    border: 10px solid black;
}
.brand_car{
    font-size: 30px;
    font-weight: 900;
    background-color: black;
    color: white;
    list-style: none;
}
.color_car{
    font-size: 25px;
    font-weight: 600;
    list-style: none;
}
.km_car{
    font-size: 20px;
    font-weight: 300;
    background-color: black;
    color: white;
    list-style: none;
}